.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  display: block;
  width: 300px;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}

li:hover {
  color: red;
  cursor: pointer;
  background-color: #eee;
}
